<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новостной сайт</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <div id="container">
        <div class="header">
            <div class="top-menu">
                <div class="top-menu-left">
                    <a href="#"><div class="menu-panel">ГЛАВНАЯ</div></a>|
                    <a href="#"><div class="menu-panel">О НАС</div></a>|
                    <a href="#"><div class="menu-panel">DEMO PAGE</div></a>|
                    <a href="#"><div class="menu-panel">КОНТАКТЫ</div></a>
                </div>
                <div class="top-menu-right">
                    Подписаться:
                    <a href="#"><div class="menu-panel">Пост</div></a>|
                    <a href="#"><div class="menu-panel">Комментарий</div></a>|
                    <a href="#"><div class="menu-panel">Email</div></a>
                </div>
            </div>
            <div class="header-title">
                <h1>НОВОСТНОЙ САЙТ</h1>
                <div class="header-title-css">бесплатный шаблон</div>
            </div>
        </div>
        <div class="header-menu">
            <a href="#"><div class="header-menu-panel">Реклама</div></a>
            <a href="#"><div class="header-menu-panel">Развлечения</div></a>
            <a href="#"><div class="header-menu-panel">Мода</div></a>
            <a href="#"><div class="header-menu-panel">Образ жизни</div></a>
            <a href="#"><div class="header-menu-panel">Изображения</div></a>
            <a href="#"><div class="header-menu-panel">Видео</div></a>
        </div>
        <div class="content">
            <div class="news-line">
                <div class="news">
                    <div class="image"><img src="239983265.jpg"></div>
                    <div class="news-title">
                        Юристы Telegram пожалуются на Роскомнадзор в Генпрокуратуру
                    </div>
                    <div class="news-data">Опубликовал Админ 18 Апреля 2018</div>
                    <div class="news-text">
                        Юристы Telegram намерены пожаловаться в Генпрокуратуру на действия
                        Роскомнадзора по блокировке мессенджера, которая затронула и другие ресурсы.
                        Об этом в своем Telegram-канале сообщил адвокат Павел Чиков
                    </div>
                    <a href="#"><div class="news-button">Читать продолжение</div></a>
                </div>
                <div class="news">
                    <div class="image"><img src="239983265.jpg"></div>
                    <div class="news-title">
                        Юристы Telegram пожалуются на Роскомнадзор в Генпрокуратуру
                    </div>
                    <div class="news-data">Опубликовал Админ 18 Апреля 2018</div>
                    <div class="news-text">
                        Юристы Telegram намерены пожаловаться в Генпрокуратуру на действия
                        Роскомнадзора по блокировке мессенджера, которая затронула и другие ресурсы.
                        Об этом в своем Telegram-канале сообщил адвокат Павел Чиков
                    </div>
                    <a href="#"><div class="news-button">Читать продолжение</div></a>
                </div>
                <div class="news">
                    <div class="image"><img src="123.jpg"></div>
                    <div class="news-title">
                        Юристы Telegram пожалуются на Роскомнадзор в Генпрокуратуру
                    </div>
                    <div class="news-data">Опубликовал Админ 18 Апреля 2018</div>
                    <div class="news-text">
                        Юристы Telegram намерены пожаловаться в Генпрокуратуру на действия
                        Роскомнадзора по блокировке мессенджера, которая затронула и другие ресурсы.
                        Об этом в своем Telegram-канале сообщил адвокат Павел Чиков
                    </div>
                    <a href="#"><div class="news-button">Читать продолжение</div></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>